body {
    margin: 0;
    padding: 0;
    background: #76b852;
}

.login-container {
    width: 25rem;
    height: 30rem;
    margin: auto;
    padding: 8% 0 0;
}

.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 25rem;
    margin: 0 auto 100px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-text {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.login-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form #login-form-submit, .login-form #register-form-submit {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-form #login-form-submit:hover, .login-form #login-form-submit:active, .login-form #login-form-submit:focus {
    background: #43A047;
}

.login-form #register-form-submit:hover, .login-form #register-form-submit:active, .login-form #register-form-submit:focus {
    background: #43A047;
}

.login-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.login-form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.login-form #register {
    display: none;
}