@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

table,tr,th{
    border: 1px solid purple;
}

#icon{
    border-radius: 50%;
    scale: 50%;
    margin-top: 0;
}

#icondiv{
    background-color: red;
    display: flex;
    width: 500px;
}
